# **Functions**
A function is a reusable block of code or programming statements designed to perform a certain task.

## **Function without parameters**

In [1]:
def generate_full_name():
    first_name = "Alexander"
    last_name = "Caicedo"
    space = " "
    full_name = first_name + space + last_name
    print(full_name)

# Calling the function
generate_full_name()

Alexander Caicedo

In [2]:
def add_two_numbers():
    num_one = 2
    num_two = 3
    total = num_one + num_two
    print(total)

add_two_numbers()

5

## **Function returning a value**
A function can also return values, if a function has a return statement

In [5]:
def generate_full_name():
    first_name = "Alexander"
    last_name = "Caicedo"
    space = " "
    full_name = first_name + space + last_name
    return full_name

generate_full_name()

'Alexander Caicedo'

In [8]:
print(generate_full_name)

<function generate_full_name at 0x7f4bdc3af550>

In [9]:
print(generate_full_name())

Alexander Caicedo

In [10]:
def add_two_numbers():
    num_one = 2
    num_two = 3
    total = num_one + num_two
    return total

add_two_numbers()

5

## **Function with parameters**
In a function we can pass different data types (number, string, boolean, list, tuple, dictionary or set as a parameter).

In [11]:
def greetings(name):
    message = name + "!, welcome to this Python tutorial"
    return message

greetings("Alex")

'Alex!, welcome to this Python tutorial'

In [12]:
def add_ten(num):
    ten = 10
    return num + ten

add_ten(90)

100

In [13]:
def squared_number(x):
    return x * x

squared_number(3)

9

In [14]:
def area_of_circle(r):
    PI = 3.1415
    area = PI * (r ** 2)
    return area

print("Area of circle =", area_of_circle(5))

Area of circle = 78.53750000000001

In [17]:
def sum_of_numbers(n):
    total = 0
    for i in range(n + 1):
        total += i
    return total

sum_of_numbers(100)

5050

## **Function with two parameters**

In [19]:
def generate_full_name(first_name, last_name):
    space = " "
    full_name = first_name + space + last_name
    return full_name

print("Full name:", generate_full_name("Alexander", "Caicedo"))

Full name: Alexander Caicedo

In [21]:
def sum_two_numbers(num_one, num_two):
    sum = num_one + num_two
    return sum

print("Sum:", sum_two_numbers(1, 9))

Sum: 10

In [22]:
def calculate_age(current_year, birth_year):
    age = current_year - birth_year
    return age

print("Age:", calculate_age(2023, 1960))

Age: 63

In [23]:
def weight_of_object(mass, gravity):
    weight = str(mass * gravity) + " N"   # the value has to be changed to a string first
    return weight

print("Weight of an object in Newtons:", weight_of_object(100, 9.81))

Weight of an object in Newtons: 981.0 N

## **Passing arguments with key and value**

In [24]:
def generate_full_name(first_name, last_name):
    return first_name + " " + last_name

print(generate_full_name(first_name="Alexander", last_name="Caicedo"))

Alexander Caicedo

In [25]:
def sum_two_numbers(num_one, num_two):
    return num_one + num_two

print(sum_two_numbers(num_one=1, num_two=9))

10

## **Returning values**

In [26]:
# String
def print_name(name):
    return name
print(print_name("Alexander")) # Alexander

# Number
def add_two_numbers(num1, num2):
    return num1 + num2
print(add_two_numbers(2, 3)) # 5

# Bool
def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False
print(is_even(10)) # True
print(is_even(5)) # False

# List
def find_even_numbers(n):
    evens = []
    for i in range(n + 2):
        if i % 2 == 0:
            evens.append(i)
    return evens
print(find_even_numbers(10))  # [0, 2, 4, 6, 8, 10]

Alexander
5
True
False
[0, 2, 4, 6, 8, 10]

## **Function with default parameters**

In [27]:
def sum_all_nums(*nums):
    total = 0
    for i in nums:
        total += i
    return total

sum_all_nums(2, 3, 5)

10

In [28]:
def generate_groups(team, *args):
    print(team)
    for i in args:
        print(i)

generate_groups("Team-1", "Alex", "Brooks", "David", "Eyob")

Team-1
Alex
Brooks
David
Eyob

## **Function as a parameter of another function (*HOF - High Order Functions*)**

In [29]:
def squared_number(n):
    return n * n

def do_something(f, x):
    return f(x)

do_something(squared_number, 3)

9